In [9]:
import pandas as pd
import os
import ast

In [10]:
text_path = os.path.join('data', 'recipe_dataset.txt')
# Using readlines()
file1 = open(text_path, 'r')
Lines = file1.readlines()

names = []
ingredients = []
steps = []

count = 0
# Strips the newline character
for line in Lines:
    pieces = line.split('\t')
    names.append(pieces[0])
    ingredients.append(pieces[1])
    steps.append(pieces[2])

In [11]:
# loading in all the essentials for data manipulation
import pandas as pd
import numpy as np
import nltk
#load in the NTLK stopwords to remove articles, preposition and other words that are not actionable
from nltk.corpus import stopwords
# This allows to create individual objects from a bog of words
from nltk.tokenize import word_tokenize
# Lemmatizer helps to reduce words to the base formfrom nltk.stem import WordNetLemmatizer
# Ngrams allows to group words in common pairs or trigrams..etc
from nltk import ngrams
# We can use counter to count the objects from collections
from collections import Counter
# This is our visual library
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
def word_frequency(sentence):
    # joins all the sentenses
    # sentence = ' '.join(sentence)
    # creates tokens, creates lower class, removes numbers and lemmatizes the words
    
    # python -m nltk.downloader popular
    new_tokens = word_tokenize(sentence)
    new_tokens = [t.lower() for t in new_tokens]
    new_tokens =[t for t in new_tokens if t not in stopwords.words('english')]
    new_tokens = [t for t in new_tokens if t.isalpha()]
    lemmatizer = nltk.WordNetLemmatizer()
    new_tokens =[lemmatizer.lemmatize(t) for t in new_tokens]
    #counts the words, pairs and trigrams
    counted = Counter(new_tokens)
    # counted_2= Counter(ngrams(new_tokens,2))
    # counted_3= Counter(ngrams(new_tokens,3))
    #creates 3 data frames and returns thems
    word_freq = pd.DataFrame(counted.items(),columns=['word','frequency']).sort_values(by='frequency',ascending=False)
    # word_pairs =pd.DataFrame(counted_2.items(),columns=['pairs','frequency']).sort_values(by='frequency',ascending=False)
    # trigrams =pd.DataFrame(counted_3.items(),columns=['trigrams','frequency']).sort_values(by='frequency',ascending=False)
    return word_freq # ,word_pairs,trigrams

In [13]:
from collections import Counter
def print_analysis(text):
    
    freq = Counter(text.split()).most_common()
    df = pd.DataFrame(freq, columns=['word', 'count'])
    df = df.sort_values('count', ascending=True)
    grouped_frequency = df.groupby('count').count()

    print(f'There are {len(steps)} recipes in the dataset')
    print(f'There are {df.shape[0]} different words in the dataset')
    print(f"There are {grouped_frequency.loc[grouped_frequency.index == 1].iloc[0]['word']} words only once in the dataset")

In [14]:
all_steps = [step for step in steps]
step_string = ' '.join(all_steps)   
print('Steps:')
print_analysis(step_string)

Steps:
There are 36652 recipes in the dataset
There are 24175 different words in the dataset
There are 12594 words only once in the dataset

In [15]:
all_ingredients = [ingredient for ingredient in ingredients]
ingredient_strings = ' '.join(all_ingredients)   
print('Ingredients:')
print_analysis(ingredient_strings)

Ingredients:
There are 36652 recipes in the dataset
There are 2683 different words in the dataset
There are 673 words only once in the dataset

In [16]:
all_names = [name for name in names]
name_strings = ' '.join(all_names)   
print('Names:')
print_analysis(name_strings)

Names:
There are 36652 recipes in the dataset
There are 8919 different words in the dataset
There are 4788 words only once in the dataset

In [18]:
# Words that appear < 100 times 
freq = Counter(step_string.split()).most_common()
df = pd.DataFrame(freq, columns=['word', 'count'])
df = df.sort_values('count', ascending=True)
grouped_frequency = df.groupby('count').count()
grouped_frequency

         word
count
1       12594
2        2933
3        1430
4         778
5         646
...       ...
118757      1
188125      1
189764      1
213037      1
393326      1

[1094 rows x 1 columns]